@font-face {
	font-family: 'Minecraft';
	src: url("../../style/minecraftfont.eot");
	src: url("../../style/minecraftfont.woff") format("woff"), url("../../style/minecraft.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;

    background-image: url(img/pagina/ore.jpg);
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.back {
    text-align: center;
    padding: 10px;
    background-image: url(img/pagina/banner2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.back img {
    width: 32%;
}

div {
    display: block;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    background-color: #333;
    padding: 20px;
}

.texto {
    width: 60%;
}

.imagenn {
    border: 4px solid black;
    width: 35%;
    max-width: 100%;
}


.texto h1 {
    margin: 0;
    font-size: 40px;
    font-family: 'Minecraft';
}

.texto p {
    margin: 10px 0;
    font-size: 18px;
}
.lista {
    background-color: #cccccc9f;
    padding: 20px;
    border: 3px solid black;
    box-sizing: border-box;
    margin-right: 70%; 
}

.lista a{
    color: #fff;
}
.lista ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.lista li {
    font-size: 18px;
    margin-bottom: 5px;
}

.comercio{
    background-color: 	#E3DAC9;
    border: 5px solid black;
    margin: 3% 10%;
    flex-direction: column; 
    align-items: center; 
}

.part {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 3px solid black;
}

.part:last-child {
    border-bottom: none;
}

.part h1, p{
    margin-bottom: 10px;
    text-align: left;
}
.part h1{
    font-size: 25px;
    font-family: 'Minecraft';
}

.part p {
    font-size: 18px;
}
.part a{
    color: black;
}

.centered-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.centered-image {
    margin: 2%;
    width: 450px;
    height: auto;
    border: 3px solid black;
}
.image1 {
    width: 800px;
}

.image2 {
    width: 200px;
    background-image: url(img/pagina/aldea.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.piepagina {
	padding: 10px;
	background: #232526;
	text-align: center;
}

.piepagina img {
	width: 8%
}

footer h1 {
	text-align: center;
	font-size: 12px;
	color: white;
	font-family: 'Minecraft';
}

@media (max-width: 991px) {
    .encabezado {
        flex-direction: column;
        align-items: center; 
    }

    .texto, .imagenn, .lista {
        width: 100%;
        margin-right: 0;
    }

    .lista {
        margin-bottom: 20px; 
    }

    .back img {
        width: 80%;
    }

    .centered-image {
        width: 100%;
    }

    .image1 {
        width: 100%;
    }

    .image2 {
        width: 100%;
        background-size: cover;
    }
}